
header
    height: 100px
    background-color: gray
    padding: 10px 0

    .header_container
        display: flex
        justify-content: space-between
    .logo
        cursor: pointer

    img
        width: 100px
        line-height: 100px
    .linksWraper
        display: flex
        max-width: 800px
        justify-content: space-between
    ul
        line-height: 80px
