@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;800;900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

body {
  background-color: #ffffff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  max-width: 100%;
  height: 100px;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 6px 6px 16px rgba(17, 17, 49, 0.12);
  z-index: 1;
}
header .btnBurger {
  display: none;
}
header .btnBurger span {
  margin-top: 3px;
  display: block;
  width: 20px;
  border-bottom-style: solid;
  cursor: pointer;
}
header .header_container {
  display: flex;
  justify-content: space-between;
}
header .logo {
  cursor: pointer;
}
header img {
  width: 100px;
  line-height: 100px;
}
header .linksWrapperNone {
  font-weight: 600;
  font-size: 21px;
  padding-top: 25px;
  display: flex;
  margin-top: 5px;
}
header .linksWrapperNone li {
  margin-right: 100px;
}
header .linksWrapperNone li a {
  color: rgba(27, 58, 145, 0.9058823529);
}
header .linksWrapperNone li:last-child {
  margin-right: 0;
}

.link {
  cursor: pointer;
}

aside {
  padding: 10px 0;
}
aside .videoItem {
  width: 100%;
  background: black;
}
aside .videoItem video {
  width: 100%;
}
aside .titleWrapper {
  padding: 20px;
  height: 350px;
  width: 100%;
  background: url("@/assets/1.jpg") center center/cover no-repeat;
  margin-top: 30px;
}
aside .titleWrapper h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}
aside .titleWrapper h2 {
  margin-top: 60px;
  color: white;
  text-align: center;
  font-size: 30px;
}
aside .arrowWrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 100px 0;
}
aside .arrowWrapper img {
  width: 10%;
}
aside .arrowWrapper .arrowText {
  margin-top: 50px;
  width: 36%;
}
aside .arrowWrapper p {
  color: rgba(27, 58, 145, 0.9058823529);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 100px;
}
aside .descrWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
aside .descrWrapper .descrText {
  color: rgba(27, 58, 145, 0.9058823529);
  width: 60%;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  height: 300px;
}
aside .descrWrapper .descrImg {
  width: 35%;
}
aside .descrWrapper .descrImg img {
  width: 100%;
}
aside .promoImg img {
  width: 100%;
}
aside .descrSecond h3 {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(27, 58, 145, 0.9058823529);
  font-weight: 900;
  font-size: 28px;
}

article {
  padding: 40px 0;
}
article .LogoAbout {
  margin: 20px auto;
  width: 500px;
  text-align: center;
}
article .LogoAbout img {
  width: 50%;
}
article .logoWrapperAbout {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
article .logoWrapperAbout img {
  width: 80%;
}
article .descrAbout {
  margin-bottom: 70px;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  color: rgba(27, 58, 145, 0.9058823529);
}
article .ourSt {
  background: url("@/assets/aboutbg2.jpg") center center/cover no-repeat;
  height: 60px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}
article .ourSt h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
article img {
  width: 60%;
}
article .iconsTechWrapper {
  z-index: -1;
  margin-top: 100px;
  width: 80%;
  margin: 0 auto;
}
article .iconsTechWrapper .carousel__item {
  font-size: 20px;
  z-index: -2;
}
article .iconsTechWrapper .slideWrapperOne {
  margin-bottom: 50px;
}
article .slideWrapper {
  z-index: -1;
}
article .aboutBgDown {
  margin-top: 100px;
  text-align: center;
  max-width: 100%;
}

@media (max-width: 992px) {
  header {
    width: 100%;
    position: fixed;
  }
  header .linksWrapperNone li {
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
  }
  header .linksWrapperNone .linkReset {
    margin-right: 5px !important;
  }
  aside {
    padding-top: 74px;
  }
  aside .titleWrapper {
    height: 300px;
  }
  aside .descrWrapper {
    justify-content: space-between;
    height: 500px;
  }
  aside .descrWrapper .descrText {
    margin: 0 auto;
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    width: 360px;
  }
  aside .descrWrapper .descrImg {
    margin: 0 auto;
    width: 50%;
  }
  aside .arrowWrapper {
    margin-top: 40px;
  }
}
@media (max-width: 788px) {
  header {
    position: fixed;
  }
  header .container {
    position: relative;
    display: block;
  }
  header .container .logo {
    display: block;
  }
  header .container .btnBurger {
    position: absolute;
    right: 5px;
    top: 0;
    display: block;
  }
  header .container .btnBurger span {
    width: 50px;
    margin-top: 15px;
    border-block-color: black;
  }
  header .container .btnBurgerActive {
    margin-top: 10px;
  }
  header .container .btnBurgerActive span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  header .container .btnBurgerActive span:nth-child(2) {
    display: none;
  }
  header .container .btnBurgerActive span:nth-child(3) {
    margin-top: -2px;
    transform: translateY(3px) rotate(45deg);
  }
  header .container .linksWrapperNone {
    transition: 0.6s all;
    display: block;
    position: absolute;
    left: -600%;
    background-color: rgba(5, 18, 70, 0.932);
    width: 100vw;
    height: 88.3vh;
  }
  header .container .linksWrapperNone li {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin: 50px 0;
    margin-right: 0;
  }
  header .container .linksWrapperNone li a {
    color: white;
  }
  header .container .linksWrapperNone li:lastchild {
    margin-top: 0px;
  }
  header .container .linksWrapper {
    z-index: 1;
    left: 0;
  }
  aside .videoItem {
    z-index: -1;
  }
}
@media (max-width: 576px) {
  header .linksWrapperNone {
    transition: 0.6s all;
    display: block;
    position: absolute;
    left: -500%;
    background-color: rgba(5, 18, 70, 0.932);
    width: 100vw;
  }
  header .linksWrapperNone li {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    margin: 50px 0;
    margin-right: 0;
  }
  header .linksWrapperNone li a {
    color: white;
  }
  header .linksWrapperNone li li:lastchild {
    margin-top: 0px;
  }
  aside .titleWrapper h1 {
    font-size: 50px;
  }
  aside .titleWrapper h2 {
    font-size: 25px;
    margin-top: 30px;
  }
  aside .descrWrapper {
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
  }
  aside .descrWrapper .descrText {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    width: 360px;
  }
  aside .descrWrapper .descrImg {
    margin: 0 auto;
    width: 70%;
  }
  aside .arrowWrapper {
    margin: 20px 0;
  }
  aside .arrowWrapper .arrowText p {
    font-weight: 500;
    font-size: 18px;
  }
  aside .arrowWrapper img {
    height: 60px;
    margin-top: 320px;
  }
  article {
    padding-top: 120px;
  }
  article .logoWrapperAbout {
    margin-bottom: 20px;
  }
  article .logoWrapperAbout img {
    width: 100%;
  }
  article .descrAbout {
    margin-bottom: 50px;
  }
  article .outSt {
    margin-bottom: 30px;
  }
  article .slideWrapperOne {
    margin-bottom: 20px;
  }
  article .carousel__item img {
    width: 90%;
  }
  article .aboutBgDown {
    margin-top: 50px;
  }
  article .aboutBgDown img {
    width: 100%;
  }
  footer {
    margin-top: 20px;
    padding-top: 25px;
  }
  footer .buildDescr {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */